.modal {
  margin-top: 20px;
  border-radius: 30px;
  background: rgb(44, 44, 44);
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  &__options {
    display: flex;
    margin-top: 10px;
    &__priority {
      background: transparent;
      border-radius: 12px;
      border: 1px solid #626262;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 5px;
    }
    &__calendar {
      background: transparent;
      border-radius: 12px;
      border: 1px solid #626262;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 5px;
      margin-left: 10px;
    }
  }
  &__name {
    &__input {
      background: transparent;
      border: 1px solid #ffffff;
      padding: 5px;
      height: 40px;
      border-radius: 12px;
      width: 100%;
      max-height: 100px;
      color: #ffffff;
      font-size: 16px;
      resize: none;
    }
  }
  &__desc {
    margin-top: 10px;
    &__input {
      padding: 5px;
      background: transparent;
      border: 1px solid #ffffff;
      height: 40px;
      border-radius: 12px;
      width: 100%;
      max-height: 100px;
      color: #ffffff;
      font-size: 16px;
      resize: none;
    }
  }
  &__buttons {
    margin-top: 10px;
    display: flex;

    justify-content: flex-end;
    &__add {
      border: none;
      cursor: pointer;
      background: #8264fe;
      color: #ffffff;
      border-radius: 12px;
      padding: 5px 10px;
    }
    &__close {
      background: transparent;
      border-radius: 12px;
      color: #ffffff;
      padding: 5px 10px;
      border: none;
      cursor: pointer;
    }
  }
}
