.aside {
  display: flex;
  min-width: 288px;
  flex-direction: column;
  background-color: #111111;
  transition-duration: 300ms;
  transition-timing-function: linear;
  color: #ffffff;
  position: relative;

  &__content {
    padding: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    &__favorite {
      margin-top: 40px;
      &__title {
        color: rgb(236, 240, 241);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        letter-spacing: 0px;
      }
      &__body {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        &__item {
          text-decoration: none;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          div {
            width: 16px;
            height: 16px;
            border-radius: 50%;
          }
          p {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            margin-left: 16px;
          }
        }
      }
    }
    &__title {
      margin-top: 37px;
      color: rgb(130, 100, 254);
      font-family: Montserrat;
      font-size: 38px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0px;
      text-align: center;
    }

    &__nav {
      &__title {
        margin-top: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h3 {
          color: rgb(236, 240, 241);
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 700;
          line-height: 29px;
          letter-spacing: 0px;
        }

        button {
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          display: flex;
          cursor: pointer;
        }
      }

      &__list {
        display: block;
        margin: 0;

        &__item {
          margin-top: 20px;
          list-style: none;

          &__link {
            display: flex;
            align-items: center;
            text-decoration: none;

            &__text {
              color: rgb(255, 255, 255);
              font-family: Montserrat;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0px;
              margin-left: 16px;
            }
          }
        }
      }
    }

    &__footer {
      margin-top: auto; /* Push the footer to the bottom */
      &__user {
        &__info {
          display: flex;
          align-items: center;
          &__login {
            margin-left: 10px;
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
        &__logout {
          display: flex;
          align-items: center;
          background: none;
          border: none;
          margin-top: 20px;
          cursor: pointer;

          &__span {
            color: rgb(255, 255, 255);
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            margin-left: 16px;
          }
        }
      }
    }
  }
}
