.aside {
  display: flex;
  height: 100vh;
  min-width: 288px;
  flex-direction: column;
  background-color: #111111;
  transition-duration: 300ms;
  transition-timing-function: linear;
  color: #ffffff;
  &__content {
    padding: 30px;

    &__title {
      margin-top: 37px;
      color: rgb(130, 100, 254);
      font-family: Montserrat;
      font-size: 38px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0px;
      text-align: center;
    }
    &__nav {
      &__title {
        margin-top: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          color: rgb(236, 240, 241);
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 700;
          line-height: 29px;
          letter-spacing: 0px;
        }
        button {
          background: none;
          border: none;
          padding: 0;
          margin: 0;
          display: flex;
          cursor: pointer;
        }
      }
      &__list {
        display: block;
        margin: 0;
        &__item {
          margin-top: 20px;
          list-style: none;
          &__link {
            display: flex;
            align-items: center;
            text-decoration: none;
            &__text {
              color: rgb(255, 255, 255);
              font-family: Montserrat;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              letter-spacing: 0px;
              margin-left: 16px;
            }
          }
        }
      }
    }
  }
}
