.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &__content {
    max-width: 600px;
    margin: 0 auto;
    padding: 100px 20px;
    width: 100%;
    border-radius: 12px;
    background-color: #111111;
    color: #ffff;
    &__title {
      text-align: center;
      font-size: 28px;
    }
    &__block {
      &__item {
        display: flex;
        align-items: center;
        border: 1px solid rgb(255, 255, 255);
        width: 450px;
        margin: 0 auto;
        border-radius: 12px;
        padding: 10px;
        margin-top: 20px;
        &__input {
          background: transparent;
          border: none;
          outline: none;
          width: 400px;
          margin-left: 10px;
          color: #ffffff;
          &::placeholder {
            color: #ffffff;
          }
        }
      }
      &__submit {
        display: block;
        margin: 20px auto;
        background: #8264fe;
        border: none;
        border-radius: 12px;
        color: #ffffff;
        padding: 8px 20px;
      }
    }
  }
}
